* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(231, 223, 223);

}
.container {
    display: grid;
    justify-content: center;
    margin-top: 3%;
    width: 100%;

}

.calculator {
    background-color: #121212;
    padding: 1rem;
    border-radius: 3rem;
    color: white;
}

.header {
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.clock {
    align-self: center;
    
}

.input {
    align-self: flex-end;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: repeat(5, 4rem);
    font-size: 2rem;
    font-weight: 900;
}

.content {
    border: 1px solid grey;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    margin: 0.1em;
    cursor: pointer;
}

.content:hover {
    opacity: 0.8;
}

.zero {
    grid-column: 1/3;
}

.yellow {
    background-color: #FC9E08;
}

.dark {
    background-color: #333333;
}

.grey {
    background-color: #A5A5A5;
    color: #121212;
}

@media screen and (max-width : 415px) {
    body {
        background-color: #121212;

    }
    .buttons {
        margin-top: 10%;
        display: grid;
        grid-template-columns: repeat(4, 5rem);
        grid-template-rows: repeat(5, 5rem);

    }
    .header{
        height: 10rem;
    }

    .calculator{
        display: flex;
        flex-direction: column;
    }
}
